<?xml version="1.0"?>
<VOTABLE version="1.1" xsi:schemaLocation="http://www.ivoa.net/xml/VOTable/v1.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <INFO name="QUERY_STATUS" value="OK"/>
  <RESOURCE type="results">
    <TABLE utype="photdm:PhotometryFilter.transmissionCurve.spectrum">
    <PARAM name="FilterProfileService" value="ivo://svo/fps" ucd="meta.ref.ivorn" utype="PhotometryFilter.fpsIdentifier" datatype="char" arraysize="*"/>
    <PARAM name="filterID" value="LCO/FourStar.J2" ucd="meta.id" utype="photdm:PhotometryFilter.identifier" datatype="char" arraysize="*"/>
    <PARAM name="WavelengthUnit" value="Angstrom" ucd="meta.unit" utype="PhotometryFilter.SpectralAxis.unit" datatype="char" arraysize="*"/>
    <PARAM name="WavelengthUCD" value="em.wl" ucd="meta.ucd" utype="PhotometryFilter.SpectralAxis.UCD" datatype="char" arraysize="*"/>
    <PARAM name="Description" value="LCO, FourStar J2" ucd="meta.note" utype="photdm:PhotometryFilter.description" datatype="char" arraysize="*"/>
    <PARAM name="PhotSystem" value="FourStar" utype="photdm:PhotometricSystem.description" datatype="char" arraysize="*">
       <DESCRIPTION>Photometric system</DESCRIPTION>
    </PARAM>
    <PARAM name="Instrument" value="FourStar" ucd="instr" datatype="char" arraysize="*">
       <DESCRIPTION>Instrument</DESCRIPTION>
    </PARAM>
    <PARAM name="Facility" value="LCO" ucd="instr.obsty" datatype="char" arraysize="*">
       <DESCRIPTION>Observational facility</DESCRIPTION>
    </PARAM>
    <PARAM name="ProfileReference" value="http://instrumentation.obs.carnegiescience.edu/FourStar/OPTICS/filters.html" datatype="char" arraysize="*"/>
    <PARAM name="Description" value="LCO, FourStar J2" ucd="meta.note" utype="photdm:PhotometryFilter.description" datatype="char" arraysize="*"/>
    <PARAM name="WavelengthMean" value="11452.707405362" unit="Angstrom" ucd="em.wl" utype="photdm:PhotometryFilter.SpectralAxis.Coverage.Location.Value" datatype="float" >
       <DESCRIPTION>Mean wavelength. Defined as integ[x*filter(x) dx]/integ[filter(x) dx]</DESCRIPTION>
    </PARAM>
    <PARAM name="WavelengthEff" value="11407.31328525" unit="Angstrom" ucd="em.wl.effective" datatype="float" >
       <DESCRIPTION>Effective wavelength. Defined as integ[x*filter(x)*vega(x) dx]/integ[filter(x)*vega(x) dx]</DESCRIPTION>
    </PARAM>
    <PARAM name="WavelengthMin" value="10600.646428571" unit="Angstrom" ucd="em.wl;stat.min" utype="photdm:PhotometryFilter.SpectralAxis.Coverage.Bounds.Start" datatype="float" >
       <DESCRIPTION>Minimum filter wavelength. Defined as the first lambda value with a transmission at least 1% of maximum transmission</DESCRIPTION>
    </PARAM>
    <PARAM name="WavelengthMax" value="12380.915384615" unit="Angstrom" ucd="em.wl;stat.max" utype="photdm:PhotometryFilter.SpectralAxis.Coverage.Bounds.Stop" datatype="float" >
       <DESCRIPTION>Maximum filter wavelength. Defined as the last lambda value with a transmission at least 1% of maximum transmission</DESCRIPTION>
    </PARAM>
    <PARAM name="WidthEff" value="1329.6922611791" unit="Angstrom" ucd="instr.bandwidth" utype="photdm:PhotometryFilter.SpectralAxis.Coverage.Bounds.Extent" datatype="float" >
       <DESCRIPTION>Effective width. Defined as integ[x*filter(x) dx].\nEquivalent to the horizontal size of a rectangle with height equal to maximum transmission and with the same area that the one covered by the filter transmission curve.</DESCRIPTION>
    </PARAM>
    <PARAM name="WavelengthCen" value="11439.939448563" unit="Angstrom" ucd="em.wl" datatype="float" >
       <DESCRIPTION>Central wavelength. Defined as the central wavelength between the two points defining FWMH</DESCRIPTION>
    </PARAM>
    <PARAM name="WavelengthPivot" value="11445.4618848" unit="Angstrom" ucd="em.wl" datatype="float" >
       <DESCRIPTION>Peak wavelength. Defined as sqrt{integ[x*filter(x) dx]/integ[filter(x) dx/x]}</DESCRIPTION>
    </PARAM>
    <PARAM name="WavelengthPeak" value="11530" unit="Angstrom" ucd="em.wl" datatype="float" >
       <DESCRIPTION>Peak wavelength. Defined as the lambda value with larger transmission</DESCRIPTION>
    </PARAM>
    <PARAM name="WavelengthPhot" value="11421.719170441" unit="Angstrom" ucd="em.wl" datatype="float" >
       <DESCRIPTION>Photon distribution based effective wavelength. Defined as integ[x^2*filter(x)*vega(x) dx]/integ[x*filter(x)*vega(x) dx]</DESCRIPTION>
    </PARAM>
    <PARAM name="FWHM" value="1368.4835482888" unit="Angstrom" ucd="instr.bandwidth" datatype="float" >
       <DESCRIPTION>Full width at half maximum. Defined as the difference between the two wavelengths for which filter transmission is half maximum</DESCRIPTION>
    </PARAM>
    <PARAM name="PhotCalID" value="LCO/FourStar.J2/Vega" ucd="meta.id" utype="photdm:PhotCal.identifier" datatype="char" arraysize="*"/>
    <PARAM name="MagSys" value="Vega" ucd="meta.code" utype="photdm:PhotCal.MagnitudeSystem.type" datatype="char" arraysize="*"/>
    <PARAM name="ZeroPoint" value="1774.5359921266" unit="Jy" ucd="phot.flux.density" utype="photdm:PhotCal.ZeroPoint.Flux.value" datatype="float" />
    <PARAM name="ZeroPointUnit" value="Jy" ucd="meta.unit" utype="photdm:PhotCal.ZeroPoint.Flux.unit" datatype="char" arraysize="*"/>
    <PARAM name="ZeroPointType" value="Pogson" ucd="meta.code" utype="photdm:PhotCal.ZeroPoint.type" datatype="char" arraysize="*"/>
      <FIELD name="Wavelength" utype="spec:Data.SpectralAxis.Value" ucd="em.wl" unit="Angstrom" datatype="float"/>
      <FIELD name="Transmission" utype="spec:Data.FluxAxis.Value" ucd="phys.transmission" unit="" datatype="float"/>
      <DATA>
        <TABLEDATA>
          <TR>
            <TD>9700</TD>
            <TD>0.0000</TD>
          </TR>
          <TR>
            <TD>9710</TD>
            <TD>0.0000</TD>
          </TR>
          <TR>
            <TD>9720</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9730</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9740</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9750</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9760</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9770</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9780</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9790</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9800</TD>
            <TD>0.0002</TD>
          </TR>
          <TR>
            <TD>9810</TD>
            <TD>0.0002</TD>
          </TR>
          <TR>
            <TD>9820</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9830</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9840</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9850</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>9860</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>9870</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9880</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9890</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9900</TD>
            <TD>0.0002</TD>
          </TR>
          <TR>
            <TD>9910</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9920</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9930</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9940</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9950</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9960</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9970</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9980</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>9990</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10000.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10010.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10020.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10030.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10040.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10050.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10060.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10070.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>10080.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10090.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10100.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10110.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10120.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>10130.</TD>
            <TD>0.0002</TD>
          </TR>
          <TR>
            <TD>10140.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10150.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10160.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10170.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10180.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10190.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10200.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10210.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>10220.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>10230.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10240.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10250.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10260.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10270.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>10280.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10290.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10300.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10310.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>10320.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>10330.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>10340.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>10350.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>10360.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>10370.</TD>
            <TD>0.0005</TD>
          </TR>
          <TR>
            <TD>10380.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>10390.</TD>
            <TD>0.0006</TD>
          </TR>
          <TR>
            <TD>10400.</TD>
            <TD>0.0006</TD>
          </TR>
          <TR>
            <TD>10410.</TD>
            <TD>0.0007</TD>
          </TR>
          <TR>
            <TD>10420.</TD>
            <TD>0.0006</TD>
          </TR>
          <TR>
            <TD>10430.</TD>
            <TD>0.0007</TD>
          </TR>
          <TR>
            <TD>10440.</TD>
            <TD>0.0007</TD>
          </TR>
          <TR>
            <TD>10450.</TD>
            <TD>0.0007</TD>
          </TR>
          <TR>
            <TD>10460.</TD>
            <TD>0.0008</TD>
          </TR>
          <TR>
            <TD>10470.</TD>
            <TD>0.0008</TD>
          </TR>
          <TR>
            <TD>10480.</TD>
            <TD>0.0009</TD>
          </TR>
          <TR>
            <TD>10490.</TD>
            <TD>0.0010</TD>
          </TR>
          <TR>
            <TD>10500.</TD>
            <TD>0.0012</TD>
          </TR>
          <TR>
            <TD>10510.</TD>
            <TD>0.0011</TD>
          </TR>
          <TR>
            <TD>10520.</TD>
            <TD>0.0015</TD>
          </TR>
          <TR>
            <TD>10530.</TD>
            <TD>0.0016</TD>
          </TR>
          <TR>
            <TD>10540.</TD>
            <TD>0.0019</TD>
          </TR>
          <TR>
            <TD>10550.</TD>
            <TD>0.0023</TD>
          </TR>
          <TR>
            <TD>10560.</TD>
            <TD>0.0028</TD>
          </TR>
          <TR>
            <TD>10570.</TD>
            <TD>0.0036</TD>
          </TR>
          <TR>
            <TD>10580.</TD>
            <TD>0.0047</TD>
          </TR>
          <TR>
            <TD>10590.</TD>
            <TD>0.0060</TD>
          </TR>
          <TR>
            <TD>10600.</TD>
            <TD>0.0083</TD>
          </TR>
          <TR>
            <TD>10610.</TD>
            <TD>0.0111</TD>
          </TR>
          <TR>
            <TD>10620.</TD>
            <TD>0.0158</TD>
          </TR>
          <TR>
            <TD>10630.</TD>
            <TD>0.0204</TD>
          </TR>
          <TR>
            <TD>10640.</TD>
            <TD>0.0293</TD>
          </TR>
          <TR>
            <TD>10650.</TD>
            <TD>0.0416</TD>
          </TR>
          <TR>
            <TD>10660.</TD>
            <TD>0.0539</TD>
          </TR>
          <TR>
            <TD>10670.</TD>
            <TD>0.0710</TD>
          </TR>
          <TR>
            <TD>10680.</TD>
            <TD>0.0912</TD>
          </TR>
          <TR>
            <TD>10690.</TD>
            <TD>0.1187</TD>
          </TR>
          <TR>
            <TD>10700.</TD>
            <TD>0.1425</TD>
          </TR>
          <TR>
            <TD>10710.</TD>
            <TD>0.1729</TD>
          </TR>
          <TR>
            <TD>10720.</TD>
            <TD>0.2051</TD>
          </TR>
          <TR>
            <TD>10730.</TD>
            <TD>0.2565</TD>
          </TR>
          <TR>
            <TD>10740.</TD>
            <TD>0.3093</TD>
          </TR>
          <TR>
            <TD>10750.</TD>
            <TD>0.3824</TD>
          </TR>
          <TR>
            <TD>10760.</TD>
            <TD>0.4555</TD>
          </TR>
          <TR>
            <TD>10770.</TD>
            <TD>0.5369</TD>
          </TR>
          <TR>
            <TD>10780.</TD>
            <TD>0.6236</TD>
          </TR>
          <TR>
            <TD>10790.</TD>
            <TD>0.7013</TD>
          </TR>
          <TR>
            <TD>10800.</TD>
            <TD>0.7610</TD>
          </TR>
          <TR>
            <TD>10810.</TD>
            <TD>0.7968</TD>
          </TR>
          <TR>
            <TD>10820.</TD>
            <TD>0.8044</TD>
          </TR>
          <TR>
            <TD>10830.</TD>
            <TD>0.7988</TD>
          </TR>
          <TR>
            <TD>10840.</TD>
            <TD>0.7858</TD>
          </TR>
          <TR>
            <TD>10850.</TD>
            <TD>0.7663</TD>
          </TR>
          <TR>
            <TD>10860.</TD>
            <TD>0.7471</TD>
          </TR>
          <TR>
            <TD>10870.</TD>
            <TD>0.7333</TD>
          </TR>
          <TR>
            <TD>10880.</TD>
            <TD>0.7223</TD>
          </TR>
          <TR>
            <TD>10890.</TD>
            <TD>0.7177</TD>
          </TR>
          <TR>
            <TD>10900.</TD>
            <TD>0.7173</TD>
          </TR>
          <TR>
            <TD>10910.</TD>
            <TD>0.7183</TD>
          </TR>
          <TR>
            <TD>10920.</TD>
            <TD>0.7201</TD>
          </TR>
          <TR>
            <TD>10930.</TD>
            <TD>0.7209</TD>
          </TR>
          <TR>
            <TD>10940.</TD>
            <TD>0.7212</TD>
          </TR>
          <TR>
            <TD>10950.</TD>
            <TD>0.7199</TD>
          </TR>
          <TR>
            <TD>10960.</TD>
            <TD>0.7188</TD>
          </TR>
          <TR>
            <TD>10970.</TD>
            <TD>0.7196</TD>
          </TR>
          <TR>
            <TD>10980.</TD>
            <TD>0.7220</TD>
          </TR>
          <TR>
            <TD>10990.</TD>
            <TD>0.7258</TD>
          </TR>
          <TR>
            <TD>11000.</TD>
            <TD>0.7332</TD>
          </TR>
          <TR>
            <TD>11010.</TD>
            <TD>0.7383</TD>
          </TR>
          <TR>
            <TD>11020.</TD>
            <TD>0.7455</TD>
          </TR>
          <TR>
            <TD>11030.</TD>
            <TD>0.7531</TD>
          </TR>
          <TR>
            <TD>11040.</TD>
            <TD>0.7643</TD>
          </TR>
          <TR>
            <TD>11050.</TD>
            <TD>0.7767</TD>
          </TR>
          <TR>
            <TD>11060.</TD>
            <TD>0.7889</TD>
          </TR>
          <TR>
            <TD>11070.</TD>
            <TD>0.8028</TD>
          </TR>
          <TR>
            <TD>11080.</TD>
            <TD>0.8114</TD>
          </TR>
          <TR>
            <TD>11090.</TD>
            <TD>0.8197</TD>
          </TR>
          <TR>
            <TD>11100.</TD>
            <TD>0.8237</TD>
          </TR>
          <TR>
            <TD>11110.</TD>
            <TD>0.8260</TD>
          </TR>
          <TR>
            <TD>11120.</TD>
            <TD>0.8266</TD>
          </TR>
          <TR>
            <TD>11130.</TD>
            <TD>0.8261</TD>
          </TR>
          <TR>
            <TD>11140.</TD>
            <TD>0.8233</TD>
          </TR>
          <TR>
            <TD>11150.</TD>
            <TD>0.8205</TD>
          </TR>
          <TR>
            <TD>11160.</TD>
            <TD>0.8178</TD>
          </TR>
          <TR>
            <TD>11170.</TD>
            <TD>0.8154</TD>
          </TR>
          <TR>
            <TD>11180.</TD>
            <TD>0.8131</TD>
          </TR>
          <TR>
            <TD>11190.</TD>
            <TD>0.8118</TD>
          </TR>
          <TR>
            <TD>11200.</TD>
            <TD>0.8136</TD>
          </TR>
          <TR>
            <TD>11210.</TD>
            <TD>0.8136</TD>
          </TR>
          <TR>
            <TD>11220.</TD>
            <TD>0.8173</TD>
          </TR>
          <TR>
            <TD>11230.</TD>
            <TD>0.8168</TD>
          </TR>
          <TR>
            <TD>11240.</TD>
            <TD>0.8171</TD>
          </TR>
          <TR>
            <TD>11250.</TD>
            <TD>0.8169</TD>
          </TR>
          <TR>
            <TD>11260.</TD>
            <TD>0.8165</TD>
          </TR>
          <TR>
            <TD>11270.</TD>
            <TD>0.8148</TD>
          </TR>
          <TR>
            <TD>11280.</TD>
            <TD>0.8137</TD>
          </TR>
          <TR>
            <TD>11290.</TD>
            <TD>0.8120</TD>
          </TR>
          <TR>
            <TD>11300.</TD>
            <TD>0.8083</TD>
          </TR>
          <TR>
            <TD>11310.</TD>
            <TD>0.8061</TD>
          </TR>
          <TR>
            <TD>11320.</TD>
            <TD>0.8028</TD>
          </TR>
          <TR>
            <TD>11330.</TD>
            <TD>0.7978</TD>
          </TR>
          <TR>
            <TD>11340.</TD>
            <TD>0.7942</TD>
          </TR>
          <TR>
            <TD>11350.</TD>
            <TD>0.7912</TD>
          </TR>
          <TR>
            <TD>11360.</TD>
            <TD>0.7890</TD>
          </TR>
          <TR>
            <TD>11370.</TD>
            <TD>0.7885</TD>
          </TR>
          <TR>
            <TD>11380.</TD>
            <TD>0.7901</TD>
          </TR>
          <TR>
            <TD>11390.</TD>
            <TD>0.7923</TD>
          </TR>
          <TR>
            <TD>11400.</TD>
            <TD>0.7956</TD>
          </TR>
          <TR>
            <TD>11410.</TD>
            <TD>0.7998</TD>
          </TR>
          <TR>
            <TD>11420.</TD>
            <TD>0.8044</TD>
          </TR>
          <TR>
            <TD>11430.</TD>
            <TD>0.8092</TD>
          </TR>
          <TR>
            <TD>11440.</TD>
            <TD>0.8153</TD>
          </TR>
          <TR>
            <TD>11450.</TD>
            <TD>0.8210</TD>
          </TR>
          <TR>
            <TD>11460.</TD>
            <TD>0.8268</TD>
          </TR>
          <TR>
            <TD>11470.</TD>
            <TD>0.8328</TD>
          </TR>
          <TR>
            <TD>11480.</TD>
            <TD>0.8354</TD>
          </TR>
          <TR>
            <TD>11490.</TD>
            <TD>0.8397</TD>
          </TR>
          <TR>
            <TD>11500.</TD>
            <TD>0.8430</TD>
          </TR>
          <TR>
            <TD>11510.</TD>
            <TD>0.8451</TD>
          </TR>
          <TR>
            <TD>11520.</TD>
            <TD>0.8463</TD>
          </TR>
          <TR>
            <TD>11530.</TD>
            <TD>0.8481</TD>
          </TR>
          <TR>
            <TD>11540.</TD>
            <TD>0.8480</TD>
          </TR>
          <TR>
            <TD>11550.</TD>
            <TD>0.8479</TD>
          </TR>
          <TR>
            <TD>11560.</TD>
            <TD>0.8477</TD>
          </TR>
          <TR>
            <TD>11570.</TD>
            <TD>0.8467</TD>
          </TR>
          <TR>
            <TD>11580.</TD>
            <TD>0.8446</TD>
          </TR>
          <TR>
            <TD>11590.</TD>
            <TD>0.8426</TD>
          </TR>
          <TR>
            <TD>11600.</TD>
            <TD>0.8409</TD>
          </TR>
          <TR>
            <TD>11610.</TD>
            <TD>0.8390</TD>
          </TR>
          <TR>
            <TD>11620.</TD>
            <TD>0.8381</TD>
          </TR>
          <TR>
            <TD>11630.</TD>
            <TD>0.8368</TD>
          </TR>
          <TR>
            <TD>11640.</TD>
            <TD>0.8356</TD>
          </TR>
          <TR>
            <TD>11650.</TD>
            <TD>0.8345</TD>
          </TR>
          <TR>
            <TD>11660.</TD>
            <TD>0.8335</TD>
          </TR>
          <TR>
            <TD>11670.</TD>
            <TD>0.8325</TD>
          </TR>
          <TR>
            <TD>11680.</TD>
            <TD>0.8310</TD>
          </TR>
          <TR>
            <TD>11690.</TD>
            <TD>0.8295</TD>
          </TR>
          <TR>
            <TD>11700.</TD>
            <TD>0.8275</TD>
          </TR>
          <TR>
            <TD>11710.</TD>
            <TD>0.8262</TD>
          </TR>
          <TR>
            <TD>11720.</TD>
            <TD>0.8243</TD>
          </TR>
          <TR>
            <TD>11730.</TD>
            <TD>0.8218</TD>
          </TR>
          <TR>
            <TD>11740.</TD>
            <TD>0.8203</TD>
          </TR>
          <TR>
            <TD>11750.</TD>
            <TD>0.8184</TD>
          </TR>
          <TR>
            <TD>11760.</TD>
            <TD>0.8167</TD>
          </TR>
          <TR>
            <TD>11770.</TD>
            <TD>0.8160</TD>
          </TR>
          <TR>
            <TD>11780.</TD>
            <TD>0.8154</TD>
          </TR>
          <TR>
            <TD>11790.</TD>
            <TD>0.8148</TD>
          </TR>
          <TR>
            <TD>11800.</TD>
            <TD>0.8152</TD>
          </TR>
          <TR>
            <TD>11810.</TD>
            <TD>0.8153</TD>
          </TR>
          <TR>
            <TD>11820.</TD>
            <TD>0.8161</TD>
          </TR>
          <TR>
            <TD>11830.</TD>
            <TD>0.8170</TD>
          </TR>
          <TR>
            <TD>11840.</TD>
            <TD>0.8183</TD>
          </TR>
          <TR>
            <TD>11850.</TD>
            <TD>0.8196</TD>
          </TR>
          <TR>
            <TD>11860.</TD>
            <TD>0.8210</TD>
          </TR>
          <TR>
            <TD>11870.</TD>
            <TD>0.8239</TD>
          </TR>
          <TR>
            <TD>11880.</TD>
            <TD>0.8262</TD>
          </TR>
          <TR>
            <TD>11890.</TD>
            <TD>0.8298</TD>
          </TR>
          <TR>
            <TD>11900.</TD>
            <TD>0.8335</TD>
          </TR>
          <TR>
            <TD>11910.</TD>
            <TD>0.8370</TD>
          </TR>
          <TR>
            <TD>11920.</TD>
            <TD>0.8402</TD>
          </TR>
          <TR>
            <TD>11930.</TD>
            <TD>0.8431</TD>
          </TR>
          <TR>
            <TD>11940.</TD>
            <TD>0.8450</TD>
          </TR>
          <TR>
            <TD>11950.</TD>
            <TD>0.8459</TD>
          </TR>
          <TR>
            <TD>11960.</TD>
            <TD>0.8467</TD>
          </TR>
          <TR>
            <TD>11970.</TD>
            <TD>0.8450</TD>
          </TR>
          <TR>
            <TD>11980.</TD>
            <TD>0.8423</TD>
          </TR>
          <TR>
            <TD>11990.</TD>
            <TD>0.8356</TD>
          </TR>
          <TR>
            <TD>12000.</TD>
            <TD>0.8276</TD>
          </TR>
          <TR>
            <TD>12010.</TD>
            <TD>0.8168</TD>
          </TR>
          <TR>
            <TD>12020.</TD>
            <TD>0.8009</TD>
          </TR>
          <TR>
            <TD>12030.</TD>
            <TD>0.7826</TD>
          </TR>
          <TR>
            <TD>12040.</TD>
            <TD>0.7600</TD>
          </TR>
          <TR>
            <TD>12050.</TD>
            <TD>0.7307</TD>
          </TR>
          <TR>
            <TD>12060.</TD>
            <TD>0.7013</TD>
          </TR>
          <TR>
            <TD>12070.</TD>
            <TD>0.6617</TD>
          </TR>
          <TR>
            <TD>12080.</TD>
            <TD>0.6263</TD>
          </TR>
          <TR>
            <TD>12090.</TD>
            <TD>0.5821</TD>
          </TR>
          <TR>
            <TD>12100.</TD>
            <TD>0.5378</TD>
          </TR>
          <TR>
            <TD>12110.</TD>
            <TD>0.4892</TD>
          </TR>
          <TR>
            <TD>12120.</TD>
            <TD>0.4432</TD>
          </TR>
          <TR>
            <TD>12130.</TD>
            <TD>0.3974</TD>
          </TR>
          <TR>
            <TD>12140.</TD>
            <TD>0.3532</TD>
          </TR>
          <TR>
            <TD>12150.</TD>
            <TD>0.3136</TD>
          </TR>
          <TR>
            <TD>12160.</TD>
            <TD>0.2734</TD>
          </TR>
          <TR>
            <TD>12170.</TD>
            <TD>0.2380</TD>
          </TR>
          <TR>
            <TD>12180.</TD>
            <TD>0.2066</TD>
          </TR>
          <TR>
            <TD>12190.</TD>
            <TD>0.1789</TD>
          </TR>
          <TR>
            <TD>12200.</TD>
            <TD>0.1548</TD>
          </TR>
          <TR>
            <TD>12210.</TD>
            <TD>0.1320</TD>
          </TR>
          <TR>
            <TD>12220.</TD>
            <TD>0.1137</TD>
          </TR>
          <TR>
            <TD>12230.</TD>
            <TD>0.0969</TD>
          </TR>
          <TR>
            <TD>12240.</TD>
            <TD>0.0827</TD>
          </TR>
          <TR>
            <TD>12250.</TD>
            <TD>0.0443</TD>
          </TR>
          <TR>
            <TD>12260.</TD>
            <TD>0.0590</TD>
          </TR>
          <TR>
            <TD>12270.</TD>
            <TD>0.0519</TD>
          </TR>
          <TR>
            <TD>12280.</TD>
            <TD>0.0432</TD>
          </TR>
          <TR>
            <TD>12290.</TD>
            <TD>0.0371</TD>
          </TR>
          <TR>
            <TD>12300.</TD>
            <TD>0.0311</TD>
          </TR>
          <TR>
            <TD>12310.</TD>
            <TD>0.0263</TD>
          </TR>
          <TR>
            <TD>12320.</TD>
            <TD>0.0225</TD>
          </TR>
          <TR>
            <TD>12330.</TD>
            <TD>0.0187</TD>
          </TR>
          <TR>
            <TD>12340.</TD>
            <TD>0.0165</TD>
          </TR>
          <TR>
            <TD>12350.</TD>
            <TD>0.0141</TD>
          </TR>
          <TR>
            <TD>12360.</TD>
            <TD>0.0118</TD>
          </TR>
          <TR>
            <TD>12370.</TD>
            <TD>0.0100</TD>
          </TR>
          <TR>
            <TD>12380.</TD>
            <TD>0.0086</TD>
          </TR>
          <TR>
            <TD>12390.</TD>
            <TD>0.0073</TD>
          </TR>
          <TR>
            <TD>12400.</TD>
            <TD>0.0063</TD>
          </TR>
          <TR>
            <TD>12410.</TD>
            <TD>0.0055</TD>
          </TR>
          <TR>
            <TD>12420.</TD>
            <TD>0.0047</TD>
          </TR>
          <TR>
            <TD>12430.</TD>
            <TD>0.0040</TD>
          </TR>
          <TR>
            <TD>12440.</TD>
            <TD>0.0035</TD>
          </TR>
          <TR>
            <TD>12450.</TD>
            <TD>0.0031</TD>
          </TR>
          <TR>
            <TD>12460.</TD>
            <TD>0.0028</TD>
          </TR>
          <TR>
            <TD>12470.</TD>
            <TD>0.0024</TD>
          </TR>
          <TR>
            <TD>12480.</TD>
            <TD>0.0022</TD>
          </TR>
          <TR>
            <TD>12490.</TD>
            <TD>0.0019</TD>
          </TR>
          <TR>
            <TD>12500.</TD>
            <TD>0.0017</TD>
          </TR>
          <TR>
            <TD>12510.</TD>
            <TD>0.0015</TD>
          </TR>
          <TR>
            <TD>12520.</TD>
            <TD>0.0014</TD>
          </TR>
          <TR>
            <TD>12530.</TD>
            <TD>0.0012</TD>
          </TR>
          <TR>
            <TD>12540.</TD>
            <TD>0.0012</TD>
          </TR>
          <TR>
            <TD>12550.</TD>
            <TD>0.0011</TD>
          </TR>
          <TR>
            <TD>12560.</TD>
            <TD>0.0010</TD>
          </TR>
          <TR>
            <TD>12570.</TD>
            <TD>0.0009</TD>
          </TR>
          <TR>
            <TD>12580.</TD>
            <TD>0.0008</TD>
          </TR>
          <TR>
            <TD>12590.</TD>
            <TD>0.0007</TD>
          </TR>
          <TR>
            <TD>12600.</TD>
            <TD>0.0007</TD>
          </TR>
          <TR>
            <TD>12610.</TD>
            <TD>0.0006</TD>
          </TR>
          <TR>
            <TD>12620.</TD>
            <TD>0.0007</TD>
          </TR>
          <TR>
            <TD>12630.</TD>
            <TD>0.0005</TD>
          </TR>
          <TR>
            <TD>12640.</TD>
            <TD>0.0006</TD>
          </TR>
          <TR>
            <TD>12650.</TD>
            <TD>0.0006</TD>
          </TR>
          <TR>
            <TD>12660.</TD>
            <TD>0.0006</TD>
          </TR>
          <TR>
            <TD>12670.</TD>
            <TD>0.0005</TD>
          </TR>
          <TR>
            <TD>12680.</TD>
            <TD>0.0005</TD>
          </TR>
          <TR>
            <TD>12690.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>12700.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>12710.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>12720.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>12730.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12740.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>12750.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>12760.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>12770.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12780.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12790.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12800.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12810.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>12820.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12830.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12840.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12850.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12860.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12870.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>12880.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12890.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12900.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12910.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12920.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12930.</TD>
            <TD>0.0002</TD>
          </TR>
          <TR>
            <TD>12940.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12950.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12960.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12970.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>12980.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>12990.</TD>
            <TD>0.0002</TD>
          </TR>
          <TR>
            <TD>13000.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>13010.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>13020.</TD>
            <TD>0.0004</TD>
          </TR>
          <TR>
            <TD>13030.</TD>
            <TD>0.0002</TD>
          </TR>
          <TR>
            <TD>13040.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>13050.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>13060.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>13070.</TD>
            <TD>0.0002</TD>
          </TR>
          <TR>
            <TD>13080.</TD>
            <TD>0.0003</TD>
          </TR>
          <TR>
            <TD>13090.</TD>
            <TD>0.0000</TD>
          </TR>
          <TR>
            <TD>13100.</TD>
            <TD>0.0000</TD>
          </TR>
        </TABLEDATA>
      </DATA>
    </TABLE>
  </RESOURCE>
</VOTABLE>
