name: CI

on: 
  pull_request:
    branches: [ main ]
  workflow_dispatch:  # allows manual execution

jobs:

  SEDkit-CI:

    name: Python - ${{ matrix.python-version }}
    strategy:
      max-parallel: 5
      matrix:
        os: ['macos-latest']
        python-version: [ '3.11',"3.12","3.13" ]
    runs-on:  ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[test]

      - name: Test with pytest
        run: |
          pytest --tb=no --disable-warnings